<footer>☀️🌊 No cookies served. Content is created with
    <a
        href="https://creativecommons.org/licenses/by/4.0/"
        title="Creative Common BY license"
        target="_blank">cc-by license</a>.</footer>