---
title: dchere
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/assets/favicon.png">
        <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
        <link rel="manifest" href="/assets/manifest.json" />
        <title>dchere - {{ title }}</title>
        <link rel="stylesheet" href="/assets/main.css">
        {% if addcss %}
            <link rel="stylesheet" href="/{{ addcss }}">
        {% endif %}
    </head>
    <body>
        <div id="layout">
            {% include "header.njk" %}
            
                {{ content | safe }}
            
            {% include "footer.njk" %}
        </div>
    </body>
    <script async src="/assets/bundle.js"></script>
    {% if addasyncjs %}
        <script async src="/{{ addasyncjs }}"></script>
    {% endif %}
</html>