---
layout: genlayout.njk
title: dchere
---

<article>
    <h1>{{ title }}</h1>
    <div class="article-date">{{ date | localeDateString }}{% if modified %} (edited: {{ modified | localeDateString }}){% endif %}</div>
    {{ content | safe }}
</article>
{%- set previousPost = collections.post | getPreviousCollectionItem -%}
{%- set nextPost = collections.post | getNextCollectionItem -%}
{% if previousPost or nextPost %}
    <div class="prev-next-post">
        {% if previousPost %}
            <a href="{{ previousPost.url }}" class="prev-post">{{ previousPost.data.title }}</a>
        {% else %}
            <span></span>
        {% endif %}
        {% if nextPost %}
            <a href="{{ nextPost.url }}" class="next-post">{{ nextPost.data.title }}</a>
        {% endif %}
    </div>
{% endif %}
