---
title: dchere
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>dchere - {{ title }}</title>
        <link rel="stylesheet" href="/assets/main.css">
    </head>
    <body>
        {% include "header.njk" %}
        <article>
            {{ content | safe }}
        </article>
        {%- set previousPost = collections.post | getPreviousCollectionItem -%}
        {%- set nextPost = collections.post | getNextCollectionItem -%}
        {% if previousPost or nextPost %}
            <div class="prev-next-post">
                {% if previousPost %}
                    <a href="{{ previousPost.url }}" class="prev-post">{{ previousPost.data.title }}</a>
                {% else %}
                    <span></span>
                {% endif %}
                {% if nextPost %}
                    <a href="{{ nextPost.url }}" class="next-post">{{ nextPost.data.title }}</a>
                {% endif %}
            </div>
        {% endif %}
        {% include "footer.njk" %}
    </body>
    <script defer>
        {% include "../assets/bundle.js" %}</script>
</html>