html {
    font-size: 110%;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

button {
    background-color: #eeeeee;
    border: 1px solid #ccc;
    padding: 0.25rem 0.5rem;
    border-radius: 0.35rem;
}

.hidden {
    display: none;
}

#placegame {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

#placegame>div {
    margin-bottom: 2rem;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    width: 300px;
    margin: 0 auto;
    cursor: pointer;
}

#game-info {
    text-align: center;
    margin-top: 2rem;
}

.game-init #game-board,
.game-finished #game-board,
#game-board.b-turn {
    pointer-events: none;
    cursor: default;
}

#game-board .field {
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 5%;
    text-align: center;
}

#game-board .field div {
    font-size: 2rem;
    color: transparent;
    aspect-ratio: 1/ 1;
}

#game-board .field.icoo div {
    background-position: bottom;
    background-size: cover;
}

#game-board .field.icox div {
    background-position: top;
    background-size: cover;
}

#game-board .field {
    border: 2px solid black;
}

#game-board .field.top {
    border-top-color: transparent;
}

#game-board .field.right {
    border-right-color: transparent;
}

#game-board .field.bottom {
    border-bottom-color: transparent;
}

#game-board .field.left {
    border-left-color: transparent;
}

#game-board .field .infield {
    width: 100%;
    pointer-events: none;
}

#game-board .field.finished-field {
    background-color: aqua;
}

@keyframes xo {
    0% {
        background-position: 0 0px;
    }

    100% {
        background-position: 0 60px;
    }
}

#game-info .next-token {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 100% auto;
    background-repeat: repeat-y;
    margin-left: 0.25rem;
}

#game-info .next-token.icog,
#game-info .next-token.icox,
#game-info .next-token.icoo,
#game-board .field.icoo div,
#game-board .field.icox div {
    background-image: url("data:image/svg+xml;utf8,<svg id='icox' width='100%' height='100%' viewBox='0 0 600 1200' version='1.1' xmlns='http://www.w3.org/2000/svg' style='stroke-linecap:round;'><path d='M100,100L500,500' style='fill:none;stroke:rgb(31,31,31);stroke-width:70px;'/><path d='M500,100L100,500' style='fill:none;stroke:rgb(31,31,31);stroke-width:70px;'/><circle cx='300' cy='900' r='240' style='fill:none;stroke:rgb(31,31,31);stroke-width:70px;'/></svg>");
}

#game-info .next-token.icog {
    background-position: 0 0px;
    animation: xo 40ms infinite linear;
}

#game-info .next-token.icoo {
    background-position: bottom;
}

#game-info .next-token.icox {
    background-position: top;
}

.game-started #game-start,
.game-feedback #game-start,
.game-finished #game-start {
    display: none;
}

.game-init #game-finished,
.game-feedback #game-finished,
.game-started #game-finished {
    display: none;
}

.game-init #game-feedback,
.game-started #game-feedback,
.game-finished #game-feedback {
    display: none;
}

.game-init #game-info,
.game-feedback #game-info,
.game-finished #game-info {
    display: none;
}

#game-info {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-info .who-is-playing {
    padding-bottom: 0.2rem;
}

#game-info .next-token {
    color: transparent;
}

#game-info .who-is-playing span {
    font-weight: bold;
    font-size: 1.2rem;
}

#game-feedback {
    text-align: left;
}

#game-feedback h2,
#game-feedback .form-row,
#game-feedback p {
    text-align: center;
}

#game-feedback textarea {
    width: 100%;
}

#game-finished div {
    margin-bottom: 1rem;
}

fieldset,
.form-row {
    margin-bottom: 1rem;
}

dialog {
    width: 90%;
    max-width: 200px;
    /* margin: 0 auto;
    padding: 1rem; */
    /* background-color: white; */
    border: 1px solid rgb(115, 230, 70);
    border-radius: 0.5rem;
}

dialog::backdrop {
    background-image: linear-gradient(45deg,
            magenta,
            rebeccapurple,
            dodgerblue,
            green);
    opacity: 0.7;
}