<header>
    <nav>
        <ul>
            <li class="sitename">
                <a href="/">dchere</a>
            </li>
            <li {% if page.url=='/about/' %} aria-current="page" {% endif %}>
                <a href="/about/">About me</a>
            </li>
            <li {% if page.url=='/posts/' %} aria-current="page" {% endif %}>
                <a href="/posts/">Posts</a>
            </li>
        </ul>
    </nav>
</header>